.obsidian/
.trash/
.DS_Store

# API Project related

# Java related
pom.xml
pom.xml.asc
*jar
*.class

# Leiningen
lasses/
lib/
native/
checkouts/
target/
.lein-*
repl-port
.nrepl-port
.repl

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS X
.DS_Store

# Logging
*.log
/logs/

# Builds
out/
build/

# IDE
.idea/
*.iml
.calva
.vscode

# Linter
.lsp
.clj-kondo/.cache

# General files
secrets.json