;; {}

{:lint-as {mount.core/defstate clojure.core/def
           cambium.core/deflevel clojure.core/def}
 :linters {:unresolved-namespace {:report-duplicates true
                                  :exclude [clojure.string
                                            clojure.walk]}
           :unused-namespace {:exclude [agent.clients]}
           :unresolved-symbol {:report-duplicates true
                               :exclude []}
           :not-empty? {:level :off}}
 :output {:exclude-files ["src/io/grpc.cljc"
                          "src/io/grpc/Agent/client.cljc"]}}

;; {}