<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="cambium.logback.json.FlatJsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <!-- prettyPrint is probably ok in dev, but usually not ideal in production:
                    <prettyPrint>true</prettyPrint>
                    -->
                </jsonFormatter>
                <!-- <context>api</context> -->
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampFormat>
                <timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>
    </appender>
    <logger name="protojure.internal.grpc.client.providers.http2.jetty" level="off"/>
    <logger name="protojure.internal.grpc.client.providers.http2.core" level="off"/>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
